#abbreviation, #description, #name {
  max-width: 700px;
}

.form-label-subtitle {
  font-weight: bold;
}

.form-cardbody {
  padding-left: 70px;
}

@media only screen and (max-width: 860px) {
  .form-cardbody {
    padding-left: 20px;
  }

}
