.ck-content table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  border: 1px double #b3b3b3;
}

.ck-content[dir="ltr"] th {
  text-align: left;
}

.ck-content table th {
  font-weight: 700;
  background: hsla(0, 0%, 0%, 5%);
}

.ck-content table td, .ck-content table th {
  min-width: 2em;
  padding: .4em;
  border: 1px solid #bfbfbf;
}

.ck-content thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
