@import "../../../scss/variables";

.navbar {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  font-weight: bold;

  &.main-nav {
    background-color: $dark_green;
    height: $header-height;

    a {
      color: $white;
      height: $header-height;
      padding-top: 10px;
      padding-right: 1rem;
      padding-left: 1rem;
      transition: background-color 300ms ease-in-out;

      &.navbar-brand {
        padding-top: 5px;
        margin: 0;

        img {
          width: auto;
          height: 40px;
          margin-right: 3px;
          padding: 3px;
        }
      }

      &:hover {
        background-color: lighten($dark_green, 3);
      }

      &.is-active {
        background-color: $green;
      }
    }
  }

  &.sub-nav {
    background-color: $green;
    min-height: $header-sub-height;

    a {
      color: $white;
      height: $header-sub-height;
      padding-top: 5px;
      transition: background-color 300ms ease-in-out;

      &.navbar-brand {
        padding: 2px 10px 0 10px;
        margin: 0;
        font-size: 1.2rem;
      }

      &:hover {
        background-color: lighten($green, 5);
      }

      &.is-active {
        background-color: lighten($green, 5);
      }
    }

    .arrow-right {
      height: 12px;
      margin-top: -3px;
      margin-left: 10px;
    }
  }

  .dropdown-menu {
    a {
      color: $default;
      text-decoration: none;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .teacher-dropdown {
    margin-top: 10px;
  }

  .dropdown-course {
    position: absolute;
    top: 5px;
    right: 10px;

    .setting-img {
      width: 20px;
    }
  }

  .bars-toggler {
    margin-right: 35px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    padding: 0;

    .navbar-nav {
      flex-direction: row;
    }
  }
  .nav {
    flex-direction: column;
    text-align: center;
    background-color: white;

    .nav-item a {
      color: black;
      border-bottom: 1px solid #dee2e6;

      &.is-active {
        background-color: rgba(0, 0, 0, .05);
      }

      &:hover {
        background-color: rgba(0, 0, 0, .05);
      }
    }
  }
}

.navbar-nav .dropdown-menu {
  position: absolute;
  float: left;
}

.profile-settings {
  @media only screen and (max-width: 767px) {
    padding-right: 1.8rem !important;
    &:after {
      position: absolute;
      right: 10px;
      top: 21px;
    }
  }

}

.profile-icon {
  border-radius: 50%;
  background: rgba(255, 255, 255, .2);
  width: 30px;
  height: 30px;
  margin-top: -2px;
  text-align: center;
  padding-top: 3px;
}

.sub-nav .navbar-collapse {
  .nav .nav-item {
    text-align: left;
    font-weight: 400;
    border: 0;

    a {
      border: 0;
    }
  }
}

.teacher-menu {
  .list-group-item {
    &.active {
      background: inherit;

      a {
        color: #1d661d;
      }
    }

    a {
      &:hover {
        text-decoration: none;
        color: #1d661d;
      }
    }
  }
}
