.courses_main {
  justify-content: center;
}

.courses {
  min-width: 750px;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  width: 90%;
}

.tab {
  color: #1d661d;
  min-width: 900px;
}

a.active.nav-link .tab {
  color: #133f2a;
}

.list-group-item a {
  color: black;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.enroll-button {
  background-color: #1d661d;
  font-weight: bold;
  color: white;
  border: none;
  padding: 5px 15px;
  margin-left: 10px;
}

.collapse-arrow {
  /*position: absolute;*/
  /*right: 12px;*/
  /*bottom: 10px;*/
}

.collapse-arrow:hover {
  cursor: pointer;
}

.arrow-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.courses-right-top-corner-container {
  display: flex;
  flex-direction: row;
}

.single-course-container, .multiple-course-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.requested {
  color: #999999;
}

.instance-container {
  padding: 5px 15px;
  align-items: center;
}

.edit-course-button {
  font-weight: bold;
  color: white;
  border: none;

  height: 34px;
  width: 70px;
  margin-left: 5px;
}

.edit-delete-buttons {
  color: #999999;
  text-decoration-color: #999999;
}

.edit-delete-buttons-instance {
  display: flex;
  flex-direction: column;
  font-size: small;
  color: #999999;
  margin-left: 20px;
}

.course-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.course-instances-card {
  border: none;
}

.course-instances-card-body {
  padding: 10px 0 0;
}

@media only screen and (max-width: 800px) {
  .courses {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
  }

  .enroll-button {
    position: relative;
    display: block;
    margin-top: 20px;
    max-width: 100px;
  }
  .list-group-item a {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}
