.courses_main {
    justify-content: center;
}

.courses {
    min-width: 750px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.tab {
    color: #1D661D;
    min-width: 900px;
}

a.active.nav-link .tab {
    color: #133F2A;
}

.list-group-item a {
    color: black;
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.enroll-button {
    background-color: #1D661D;
    color: white;
    border: none;
    padding: 5px 15px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

@media only screen and (max-width: 800px) {
    .courses {
        min-width: 200px;
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
    }

    .enroll-button {
        position: relative;
        display: block;
        margin-top: 20px;
        max-width: 100px;
    }
    .list-group-item a {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}