.courses_main {
  justify-content: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses {
  min-width: 750px;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  width: 90%;
}

.new-course-button {
  background-color: white;
  color: #1d661d;
  border-color: rgba(0,0,0,.125);
  margin-top: 10px;
}

.new-course-button:hover {
  background-color: white;
  border-color: rgba(0,0,0,.125);
  color: black;
  font-weight: bold;
}

.new-course-button-container {
  width: 90%;
  text-align: right;
}

.tab {
  color: #1d661d;
  min-width: 900px;
}

a.active.nav-link .tab {
  color: #133f2a;
}

.list-group-item a {
  color: black;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.enroll-button {
  background-color: #1d661d;
  font-weight: bold;
  color: white;
  border: none;
  padding: 5px 15px;
  margin-left: 10px;
}

.instance-container-name {
  display: flex;
  flex-direction: row;
}

.collapse-arrow {
  /*position: absolute;*/
  /*right: 12px;*/
  /*bottom: 10px;*/
}

.collapse-arrow:hover {
  cursor: pointer;
}

.arrow-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.courses-right-top-corner-container {
  display: flex;
  flex-direction: row;
}

.single-course-container,
.multiple-course-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.requested {
  color: #999999;
}

.instance-container {
  padding: 5px 15px;
  align-items: center;
}

.edit-course-button {
  font-weight: bold;
  color: white;
  border: none;

  height: 34px;
  width: 70px;
  margin-left: 5px;
}

.edit-delete-buttons {
  color: #999999;
  text-decoration-color: #999999;
}

.edit-delete-buttons-instance {
  display: flex;
  flex-direction: column;
  font-size: small;
  color: #999999;
  margin-left: 20px;
}

.edit-delete-buttons-container {
  margin-left: 20px;
}

.small-delete-button {
  font-size: small;
}

.course-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.course-instances-card {
  border: none;
}

.course-instances-card-body {
  padding: 10px 0 0;
}

.course-name {
  font-weight: bold;
  font-size: large;
}

.course-desc {
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
  .courses {
    min-width: 200px;
    display: flex;
    flex-direction: column;
  }

  .enroll-button {
    position: relative;
    display: block;
    margin-top: 20px;
    max-width: 100px;
  }
  .multiple-course-container .list-group-item a {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .admin-tabs {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .admin-tabs .nav-link {
    border: 1px solid transparent;
    border-color: #dee2e6 #dee2e6 #fff;
  }

  .admin-tabs .nav-link.active {
    border: 1px solid transparent;
    border-color: #dee2e6 #dee2e6 #fff;
    font-weight: bold;
  }

  .admin-tabs .nav-link:hover {
    color: #005005;
  }
}

@media only screen and (max-width: 520px) {
  .nav-tabs {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-color: #dee2e6 #dee2e6 #fff;
  }

  .tabs .nav-link.active {
    border: 1px solid transparent;
    border-color: #dee2e6 #dee2e6 #fff;
    font-weight: bold;
  }

  .tabs .nav-link:hover {
    border: none;
    color: #005005;
  }
}

@media only screen and (max-width: 400px) {
  nav {
    display: none;
  }
  main {
    font-size: 14px;
  }
  .courses_main {
    margin-left: 0;
    margin-right: 0;
  }

  .course-name, .course-desc {
    font-size: 15px;
  }

  .course-container {
    padding:10px;
  }

  .single-course-container {
    padding: 5px;
  }

  .courses {
    width: 95%;
  }

  .edit-delete-buttons-instance,
  .small-delete-button {
    font-size: 10px;
  }

  .icon {
    width: 15px;
  }
}
