.timeline-container {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
}

.event-list-col {
    padding-left: 0;
}

.timeline-row {
    height: calc(100vh - 100px);
}

@media only screen and (max-width: 800px) {
    .timeline-left-col {
        display: none;
    }
}