.core-container {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
}
.event-list-col {
    padding-left: 0;
}

.timeline-row {
    height: calc(100vh - 100px);
}

.empty-message {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    z-index: 0;
}

.timeline-block-button {
  font-weight: bold;
  width: 100%;
  margin-top: 5px;
  color: black;
  background-color: #C8c8c8;
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
}

.block-menu {
  min-height: 300px;
  background-color: rgba(0,0,0,.03);
}

.timeline-left-col, .create-timeline-left-col {
  max-width: 280px;
}

.block-menu-toggle {
  display: none;
}

.block-menu-dropdown {
  width: 100%;
}

.timeline-toggler:hover {
  color: black;
}

#containerElement {
  display: block;
}

@media only screen and (max-width: 800px) {
  .block-menu-non-toggle {
    display: none;
  }

  .block-menu-toggle {
    display: block;
  }

  .create-timeline-left-col {
    width: 100%;
    max-height: 115px;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .timeline-left-col {
    width: 100%;
    max-height: 0px;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .block-menu {
    min-height: 0;
    margin-bottom: 5px;
  }

  .block-menu, .timeline-block-button {
    width: 100%;
    max-width: 280px;
  }

  .timeline-block-button {
    margin: 0 0 5px;
  }

  .timeline-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
