.subevents-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.event-card {
  margin-bottom: 10px;
}

.block-menu-item {
  background-color: rgba(0,0,0,.03);
  font-weight: bold;
  margin-bottom: 2px;

  border: none;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.block-menu-item-active {
  color: #1d661d;
}

.block-menu-item:hover {
  color: #1d661d;
}

.timeline {
  background-color: #C8c8c8;;
  color: black;
  font-weight: bold;
  margin-bottom: 2px;

  border: none;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.subevents-container {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 15px;
  width: 100%;
  min-height: 60px;
  height: 100%;
}

.subevents-item {
  border: none;
  height: 20px;
  display: flex;
  align-items: center;
}

.subevents-col-left {
  padding: 0 3px 0 0;
}

.subevents-col-right {
  padding: 0 0 0 3px;
}

.subevents-col-right-w-button {
  padding: 0 0 48px 3px;
}

.subevents-col-left, .subevents-col-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.sessions-tasks-container {
  max-width: 700px;
  display: flex;
  flex-direction: row;
}

.new-session-button {
  padding: 3px 10px;
  background-color: #999999;
  border: none;
  margin-top: 8px;
  margin-bottom: 10px;
}


.events-list {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.events-list .event-card:last-child {
  margin-bottom: 66vh;
}

.subevent-name {
  padding-left: 10px;
}

.subevents-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subevents-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.subevents-left-container {
  text-align: left;
}

.subevents-right-container {
  text-align: right;
  /*font-family: "Monospaced";*/
  font-variant-numeric: tabular-nums;
}

.next-calendar {
  margin-top: 20px;
}

a.scrolllink-item {
  color: black;
  cursor: pointer;
}

a.scrolllink-item:hover {
  color: #1d661d;
}

a.active-scrolllink-item {
  color: #1d661d;
  /*color: //#f4b800;*/
}

.subevent-name,
.subevent-name:hover {
  color: black;
}

.timeline-sessions-tasks-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

@media only screen and (max-width: 700px) {
  .sessions-tasks-container {
    display: flex;
    flex-direction: column;
  }
}


@media only screen and (max-width: 700px) {
  .timeline-sessions-tasks-container {
    display: flex;
    flex-direction: column;
  }
}
