.subevents-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.event-card {
    margin-bottom: 10px;
}

.block-menu-item {
    background-color: #1D661D;
    font-weight: bold;
    color: white;
    margin-bottom: 2px;

    border: none;
    height: 12px;
    display: flex;
    align-items: center;
}

.block-menu {
    margin-bottom: 20px;
}

.timeline {
    background-color: #C8C8C8;
    color: black;
    font-weight: bold;
    justify-content: center;
}

.subevents-item {
    border: none;
    height: 20px;
    display: flex;
    align-items: center;
}

.events-list {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.subevent-name {
    padding-left: 10px;
}

/*.container, .col, .row{*/
/*    padding: 0;*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*}*/