.navbar {
    background-color: #133F2A;
    padding: 0;
    height: 50px;
}

.navbar-right {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    line-height: 50px;
    padding: 0 10px;
}

.profile {
    display: flex;
    align-items: center;
}

.navbar-brand  {
    background-color: #1D661D;
    height: 50px;
}

.navbar-brand:hover {
    color: #F4B800;
}

.nav-link, .fake-nav{
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 50px;
    height: 50px;
    padding: 0 10px;
}

.fake-nav {
    padding: 0;
}

.nav-button:hover {
    background-color: #1D661D;
    color: white;
}

.navbar-toggler-icon {
    background-image: url('bars.png');
}

@media only screen and (max-width: 767px) {
    .nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
