.navbar {
    background-color: #133F2A;
    padding: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.navbar-profile {
    display: flex;
    /*align-content: center;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    position: absolute;
    right: 0;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    line-height: 50px;
    padding: 0 5px;
    background-color: #1D661D;
    height: 50px;
    cursor: pointer;
}

.nav-logo {
    margin: 0;
}

.nav-course {
    padding-right: 10px;
}

.nav-course:hover {
    color: #F4B800;
}

.profile {
    display: flex;
    align-items: center;
}

.navbar-brand:hover {
    color: #F4B800;
}

.nav-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 50px;
    height: 50px;
    padding: 0 10px;
}

.nav-button:hover {
    background-color: #1D661D;
    color: white;
}

.nav-course.nav-button:hover {
    color: #F4B800;
}

.navbar-toggler-icon {
    background-image: url('bars.png');
    margin-right: 150px;
}

.is-active{
    background-color: #1D661D;
}

.navbar-left, .navbar-right {
    display: flex;
    flex-direction: row;
}
.navbar-collapse.show {
    z-index: 10;
}

.navbar-collapse.show li {
    border-bottom: solid thin #DDDDDD;
    background-color: white;
    /*height: 50px;*/
}

.show, .show a {
    color: black;
}

.show .is-active {
    color: white;
}

.dropdown-course .nav-item {
    height: 50px;
}

.nav-toggle {
    padding-left: 0;
    padding-right: 0;
}

.student-admin-button {
    width: 110px;
}


@media only screen and (max-width: 767px) {
    .nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
