.course-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.course-card-name {
  font-weight: bold;
}

.course-list-group-item {
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
}

.course-card-subtitle {
  font-weight: bold;
}

.course-list-group {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
