$light_green: #60ad5e;
$green: #1D661D;
$dark_green: #133F2A;;
$default: #16181b;
$white: #fff;
$header-height: 45px;
$header-sub-height: 35px;

$sidebar-width: 200px;
$sidebar-height: calc( 100vh - #{$header-height} );
