.assignmentsContainer{
  max-width: 900px;
}

.assignmentContainer{
  max-width: 900px;
}

.assignmentViewContainer{
  margin: 20px 0px;
}

.submissionContainer{
  margin: 20px 0px;
}

.codeBlock{
  border: solid lightGrey 4px;
  border-radius: 10px;
  margin:10px 5px;
  padding:10px;
}
