//FROM GENERAL
.m-l-10 {
  margin-left: 10px;
}

label {
  font-weight: bolder;
}

.red-color {
  color: #bd2130;
}

.light-red-color {
  color: #f8d7da;
}

.green-color {
  color: #1e7e34;
}

.blue-color {
  color: #4c92d3;
}

.scrollable {
  overflow-y: auto;
  overflow-x: auto;
}

// FROM ASSIGNMENTS

.assignmentsContainer {
  max-width: 900px;
}

.assignmentContainer {
  max-width: 900px;
}

.assignmentViewContainer {
  margin: 20px 0px;
}

.submissionContainer {
  margin: 20px 0px;
}

.bigPopover {
  max-width: 600px;
}

.codeBlock {
  border: solid lightGrey 4px;
  border-radius: 10px;
  margin: 10px 5px;
  padding: 10px;
}

.comment-reply-button {
  display: none;
}

.comment-section:hover {
  .comment-reply-button {
    display: inherit;
  }
}

.sort-button {
  color: white;
}

.sort-title:hover {
  .sort-button {
    color: inherit;
  }
}

.gallery-cat-image {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.hasError {
  border: 2px solid #f7afa8 !important;
}

.red-text {
  color: red;
}

.grey-text {
  color: #d0d0d0;
}

.table-folder {
  border: 1px solid #dee2e6;
  td {
    padding: 2px 4px;
  }
}

.not-highlightable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.popover-500 {
  min-width: 500px;
}

.popover-700 {
  min-width: 700px;
}

.popover-max-height-700 {
  max-height: 700px;
}

.m-r-285 {
  margin-right: 285px !important;
}

.time-has-passed {
  color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 0.25rem;
  padding: 3px;
}

.upcomming-time {
  color: #28a745;
  border: 1px solid #28a745;
  border-radius: 0.25rem;
  padding: 3px;
}

.greyed-out {
  color: #6c757d;
}

.center-cell {
  text-align: center;
}

//NEXT
.form-control:focus {
  border-color: #2ea22e;
  box-shadow: 0 0 0 0.2rem rgba(29, 102, 29, 0.25);
}

.card-header {
  background-color: #c9ecc866;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: #c9ecc8 #c9ecc8 #fff;
}

.nav-tabs,
.modal-header,
.modal-footer,
.card {
  border-color: #c9ecc8;
}

.slider-100 {
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

hr {
  border-color: #c9ecc8;
}

.muted-medium {
  font-size: 15px;
  font-weight: bolder;
}

a label {
  width: -webkit-fill-available;
  text-overflow: clip;
  cursor: pointer;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 0px;
}

.inner-table {
  margin: 0px;
  tr {
    th {
      padding: 0px;
    }
    td {
      padding: 0px;
    }
  }
}

.no-m-p {
  margin: 0px;
  padding: 0px;
}

.small-card {
  margin-top: 5px;
}
.small-card-header {
  padding: 0px 10px;
}
