.assignmentsContainer{
  max-width: 900px;
}

.assignmentContainer{
  max-width: 900px;
}

.assignmentViewContainer{
  margin: 20px 0px;
}

.submissionContainer{
  margin: 20px 0px;
}

.codeBlock{
  border: solid lightGrey 4px;
  border-radius: 10px;
  margin:10px 5px;
  padding:10px;
}

.gallery-cat-image {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.hasError{
  border: 2px solid #f7afa8 !important;
}

.red-text{
  color:red;
}

.grey-text{
  color:#D0D0D0;
}

.table-folder{
  border: 1px solid #dee2e6;
  td{
    padding: 2px 4px;
  }
}

.not-highlightable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
