.modal-customs{
  max-width:900px;
}

.modal-customs-full{
  max-width: none;
}

.row{
  margin:0px;
  display: flex;
  flex-wrap: wrap;
}

.center-hor{
  margin-top: auto;
  margin-bottom: auto;
}

.center-ver{
  margin-left: auto;
  margin-right: auto;
}

.no-border{
  border-width: 0px;
}

.full-width{
  width:100%
}

.flex{
  flex:1;
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-column{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.clickable{
  cursor: pointer;
}

.bold{
  font-weight: bold;
}

.bolder{
  font-weight: bolder;
}

.error-style{
  color: #ff1919;
  padding: 2px 10px;
  margin: 5px 0px;
  width: fit-content;
}

.form-check, .form-group{
  label{
    user-select: none;
  }
}

@for $value from 1 through 1000{
  //Margins
  .ml-#{$value} {
    margin-left: #{$value}px;
  }
  .mr-#{$value} {
    margin-right: #{$value}px;
  }
  .mt-#{$value} {
    margin-top: #{$value}px;
  }
  .mb-#{$value} {
    margin-bottom: #{$value}px;
  }

  //Paddings
  .pl-#{$value} {
    padding-left: #{$value}px;
  }
  .pr-#{$value} {
    padding-right: #{$value}px;
  }
  .pt-#{$value} {
    padding-top: #{$value}px;
  }
  .pb-#{$value} {
    padding-bottom: #{$value}px;
  }
}
