.row{
  margin:0px;
  display: flex;
  flex-wrap: wrap;
}

body{
  margin:0px;
}

.sidebarContainer{
  width:$sidebar-width;
  height: $sidebar-height;
  background-color: lightGrey;
  padding: 20px 10px;
}

.header{
  height: $header-height;
  border-radius:0;
  background-color: #8db9df;
  border-bottom: 2px solid #6aabed;
  color: black;
}

.headerDropdown{
  background-color:inherit;
  border-width:0
}

.center-hor{
  margin-top: auto;
  margin-bottom: auto;
}

.center-ver{
  margin-left: auto;
  margin-right: auto;
}

.m-b-0{
  margin-bottom: 0px;
}

.no-border{
  border-width: 0px;
}

.col-6{
  width:50%;
}

.full-width{
  width:100%
}

.flex{
  flex:1;
}

.clickable{
  cursor: pointer;
}
.container{
  height: $sidebar-height;
  width:auto;
}
.container-padding{
  padding:5px 10px;
}

.separate{
  margin-top:10px;
}

.withSeparator{
  border-left:solid lightGrey 4px;
}

.float-right{
  float: right;
}

.nav-link{
  cursor: pointer;
}
