.new-event-formGroup {
    display: flex;
}

.new-event-label {
    margin-right: 10px;
    font-weight: bold;
    width: 90px;
}

.label-dateTime {
    font-weight: bold;
    padding-right: 20px;
    width: 90px;
    margin-right: 10px;
}

.event-form-dateTime-container, .event-form-dateTime-col {
    padding: 0;
}

#from, #to {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#name {
    max-width: 250px;
}
#type {
    max-width: 100px;
}
#place {
    max-width: 200px;
}

.button-container {
    width: 100%;
    text-align: center;
}

.new-event-button {
    margin: 10px;
    background-color: #1D661D;
    color: white;
    font-weight: bold;
    border: none;
}